.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 30%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #1f1f1f;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  gap: 0.5rem;
  width: 100%;
}
